*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo{
    position: sticky;
    top: 0;
    padding: 2%;
    width: 100%;
    z-index: 7;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
}
.btn{
    background-color: orange;
    padding: 10px;
    font-size: 24px;

}
#btn{
    border: none;
    width: 32px;
    height: 32px;
    background-color: rgb(255, 255, 255);
    outline: none;
    border-radius: 50%;
    position: absolute;
    margin-top: 10px;
    right: 20px;
}
#btn i{
    margin-top: 1px;
    font-size: 30px;
    height: 30px;
}

.header{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    padding-top: 14px;
}
.content{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px lightblue;
}
.content-banner{
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    gap: 20px;
}

#typing-text {
    font-size: 44px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    border-right: 2px solid black; /* Cursor effect */
    white-space: nowrap;
    overflow: hidden;
  }

.TypingText h1{
    font-size: 48px;
    font-weight: 500;
}
.banner-image img{
    width: 100%;
    height: auto;
    
}
.rankings{
    margin-top: 5%;
    gap: 20px;
    text-align: center;
}
.post-cards{
    gap: 5%;
    height: max-content;
    margin-top: 4%;
}
#typing-text{
    color: red;
}
.cards{
    box-shadow: 0 0 8px gray;
    padding: 4%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cards section  img{
    width: 100%;
    height: auto;  
    border-radius: 10px;
}

.cardContent{
    align-items: center;
    width: 100%;
    height: 100%;
    
}
.card1{
    background-color: rgb(212, 244, 255);
}
.card2{
    background-color: rgb(255, 245, 233);
}
.card3{
    background-color: rgb(194, 255, 194);
}
.Services{
    gap: 4%;
    width: 100%;
}
.ser{
    position: relative;
    margin-top: 5%;
    padding-top: 40px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
}
.ser img{
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
}

.Vidpro{
    background-color: rgb(54, 54, 135);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 50px;
    left: 0;
}
.Vidpro img{
    width: 300px;
    background-color: white;
    height: auto;

}

.bpt{
    background-color: rgb(36, 58, 84);
    color: wheat;
    width: 100%;
    margin-top: 4%;
    padding: 20px;
}
.Build h2{
    color: black;
}

.build-btn{
    padding: 10px;
    background-color: orange;
    border-radius: 5px;
}

footer{
    height: 60px;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}


@media (max-width: 980px) {
    
    .Vidpro img{
        height: 300px;
    }
    
}

@media (min-width:980px) {
    .cards{
        height: 600px;
    }
    .cardContent{
        gap: 20px;
        text-align: center;
        justify-content: center;
    }

    .ser{
        padding: 20px;
        align-content: center;
        justify-content: center;
    }
    .Services img{
        margin-left: 120px;
        width: 260px;
        height: 160px;
    }
}